<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../themes/mandelbrot/css/navy.css?cachebust=1.2.0" type="text/css">

<link rel="stylesheet" href="../../custom-style.css?cachebust=1.2.0" type="text/css">


<title>Tchat | <img src=https://www.axa.com/base/images/logo.svg?version=2.4.4 width=50/> Axa Digital Guidelines</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <svg class="Header-navToggleIcon Header-navToggleIcon--open" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        <svg class="Header-navToggleIcon Header-navToggleIcon--closed" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

    </button>
    <a href="../../index.html" class="Header-title" data-pjax><img src=https://www.axa.com/base/images/logo.svg?version=2.4.4 width=50/> Axa Digital Guidelines</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-797876cbcb302ad85cf761b70d69f30b">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/tchat.html" title="Component preview">
            Tchat
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #29CC29; border-color: #29CC29;">Ready</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-797876cbcb302ad85cf761b70d69f30b">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/tchat.html"
                sandbox="allow-same-origin allow-scripts allow-forms"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-797876cbcb302ad85cf761b70d69f30b">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-797876cbcb302ad85cf761b70d69f30b-panel-html">HTML</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--resources" data-role="tab">
            <a href="#browser-797876cbcb302ad85cf761b70d69f30b-panel-assets">Assets</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-797876cbcb302ad85cf761b70d69f30b-panel-info">Info</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-797876cbcb302ad85cf761b70d69f30b-panel-notes">Notes</a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-797876cbcb302ad85cf761b70d69f30b-panel-html">
    <code class="Code Code--lang-html">
        
        <pre><span class="hljs-meta">&lt;!doctype html&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">html</span> <span class="hljs-attr">lang</span>=<span class="hljs-string">"fr"</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">head</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">charset</span>=<span class="hljs-string">"utf-8"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">http-equiv</span>=<span class="hljs-string">"X-UA-Compatible"</span> <span class="hljs-attr">content</span>=<span class="hljs-string">"IE=edge,chrome=1"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"HandheldFriendly"</span> <span class="hljs-attr">content</span>=<span class="hljs-string">"true"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"MobileOptimized"</span> <span class="hljs-attr">content</span>=<span class="hljs-string">"320"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"viewport"</span> <span class="hljs-attr">content</span>=<span class="hljs-string">"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-name">title</span>&gt;</span>Default Component<span class="hljs-tag">&lt;/<span class="hljs-name">title</span>&gt;</span>

    <span class="hljs-comment">&lt;!-- generic css styles  --&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"/statics/css/reset.css"</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"stylesheet"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text/css"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"/statics/css/normalize.css"</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"stylesheet"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text/css"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"/statics/css/fonts.css"</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"stylesheet"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text/css"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"/statics/css/global.css"</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"stylesheet"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text/css"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"/statics/css/link.css"</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"stylesheet"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text/css"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"/statics/css/perfect-scrollbar.css"</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"stylesheet"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text/css"</span>&gt;</span>
    <span class="hljs-comment">&lt;!-- / generic css styles  --&gt;</span>

    <span class="hljs-comment">&lt;!-- component styles  --&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"/components/tchat/tchat.css"</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"stylesheet"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text/css"</span>&gt;</span>
    <span class="hljs-comment">&lt;!-- / component styles  --&gt;</span>

<span class="hljs-tag">&lt;/<span class="hljs-name">head</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">body</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"root"</span>&gt;</span>

        <span class="hljs-comment">&lt;!-- component --&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tchat-cmpnt"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"tchat"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"cmpnt-inner"</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tchat-panel"</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tchat-header"</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"agent-cy-fs-16"</span>&gt;</span>Brigitte Rousse Answers<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
                    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tchat-body"</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tchat-body-messages"</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tchat-message recipient"</span>&gt;</span>
                                <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"/statics/images/profile-2@2x.jpg"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tchat-message-picture"</span> /&gt;</span>
                                <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tchat-message-content"</span>&gt;</span>
                                    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Hello, I’m Brigitte Rousse, how can I help you?<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
                                <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
                            <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tchat-message recipient"</span>&gt;</span>
                                <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"/statics/images/tchat-axa@2x.jpg"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tchat-message-picture"</span> /&gt;</span>
                                <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tchat-message-content"</span>&gt;</span>
                                    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Hello, I’m the AXA virtual assistant, how can I help you today?<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
                                <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
                            <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tchat-message sender"</span>&gt;</span>
                                <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tchat-message-content"</span>&gt;</span>
                                    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>I recently moved in a new flat and I need home insurance... How can I suscribe?<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
                                <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
                            <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tchat-body-answer"</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-name">form</span> <span class="hljs-attr">action</span>=<span class="hljs-string">"#"</span> <span class="hljs-attr">method</span>=<span class="hljs-string">"post"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tchat-body-answer-form"</span>&gt;</span>
                                <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tchat-body-answer-form-row"</span>&gt;</span>
                                    <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Send a message..."</span>&gt;</span>
                                <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
                            <span class="hljs-tag">&lt;/<span class="hljs-name">form</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
                    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
                <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tchat-footer tchat-footer-btn"</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tchat-footer-state tchat-footer-open-state"</span>&gt;</span>
                        Do you have a question
                        <span class="hljs-tag">&lt;<span class="hljs-name">svg</span> <span class="hljs-attr">xmlns</span>=<span class="hljs-string">"http://www.w3.org/2000/svg"</span> <span class="hljs-attr">width</span>=<span class="hljs-string">"20"</span> <span class="hljs-attr">height</span>=<span class="hljs-string">"20"</span> <span class="hljs-attr">viewBox</span>=<span class="hljs-string">"0 0 20 20"</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-name">circle</span> <span class="hljs-attr">cx</span>=<span class="hljs-string">"10"</span> <span class="hljs-attr">cy</span>=<span class="hljs-string">"10"</span> <span class="hljs-attr">r</span>=<span class="hljs-string">"10"</span> <span class="hljs-attr">fill</span>=<span class="hljs-string">"#45b450"</span> /&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-name">path</span> <span class="hljs-attr">d</span>=<span class="hljs-string">"M10.58,5.24V9.48h4.07v1.08H10.58v4.27H9.42V10.56H5.36V9.48H9.42V5.24h1.15Z"</span> <span class="hljs-attr">fill</span>=<span class="hljs-string">"#fff"</span> /&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">svg</span>&gt;</span>
                    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tchat-footer-state tchat-footer-close-state hidden"</span>&gt;</span>
                        Close chat window
                        <span class="hljs-tag">&lt;<span class="hljs-name">svg</span> <span class="hljs-attr">xmlns</span>=<span class="hljs-string">"http://www.w3.org/2000/svg"</span> <span class="hljs-attr">width</span>=<span class="hljs-string">"20"</span> <span class="hljs-attr">height</span>=<span class="hljs-string">"20"</span> <span class="hljs-attr">viewBox</span>=<span class="hljs-string">"0 0 20 20"</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-name">circle</span> <span class="hljs-attr">cx</span>=<span class="hljs-string">"10"</span> <span class="hljs-attr">cy</span>=<span class="hljs-string">"10"</span> <span class="hljs-attr">r</span>=<span class="hljs-string">"10"</span> <span class="hljs-attr">fill</span>=<span class="hljs-string">"#45b450"</span> /&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-name">path</span> <span class="hljs-attr">d</span>=<span class="hljs-string">"M12.15,9.42v1.17H7.71V9.42h4.45Z"</span> <span class="hljs-attr">fill</span>=<span class="hljs-string">"#fff"</span> /&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">svg</span>&gt;</span>
                    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
                <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-comment">&lt;!-- / component --&gt;</span>

    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

    <span class="hljs-comment">&lt;!-- scripts  --&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text/javascript"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"/statics/js/perfect-scrollbar.js"</span>&gt;</span><span class="undefined"></span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text/javascript"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"tchat.js"</span>&gt;</span><span class="undefined"></span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
    <span class="hljs-comment">&lt;!-- /scripts  --&gt;</span>

<span class="hljs-tag">&lt;/<span class="hljs-name">body</span>&gt;</span>

<span class="hljs-tag">&lt;/<span class="hljs-name">html</span>&gt;</span></pre>
        
    </code>
</div>

    
    


<div class="Browser-panel Browser-resources" data-role="tab-panel" id="browser-797876cbcb302ad85cf761b70d69f30b-panel-assets">
    <div class="FileBrowser">

        <div class="FileBrowser-selectWrapper">
            <label class="FileBrowser-select-label" for="filebrowser-select">File:</label>
            <select class="FileBrowser-select" id="filebrowser-select">
                
                <option value="file-7d2b19c8150aa84ef8672bff0382b05c">tchat.css</option>
                
                <option value="file-b2be3842de84497dcc1f0ce655915e4e">tchat.js</option>
                
            </select>
        </div>

        
        <div class="FileBrowser-item is-active" id="file-7d2b19c8150aa84ef8672bff0382b05c" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-CSS FileBrowser-code">
                                <pre>.tchat-cmpnt {
	position: fixed;
	bottom: 0;
	right: 20px;
	left: 20px;
	z-index: 600;
}

.tchat-cmpnt.footer-compact-cmpnt {
	position: absolute;
}

.tchat-cmpnt .cmpnt-inner {
	width: 100%;
	height: 100%;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	box-shadow: 0 0 5px 3px rgba(127, 127, 127, 0.2); 
}

@media(min-width: 768px) {

	.tchat-cmpnt {
		left: auto;
		right: 30px;
		width: 320px;
	}

}

.tchat-cmpnt .tchat-panel {
	display: none;
}

.tchat-cmpnt.opened .tchat-panel {
	display: block; 
}

/* TCHAT HEADER */

.tchat-header {
	display: flex;
	justify-content: center;
	padding: 20px 0;
	height: 60px;
	background: #00005b;
	text-align: center;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background: #00005b;
}

.tchat-header span {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}

/* / TCHAT HEADER */

/* TCHAT BODY */

.tchat-body {
	position: relative;
	width: 100%;
	max-height: 340px;
	background: #eceeef;
}

.tchat-body:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	 -webkit-box-shadow: inset 0px 9px 8px -4px rgba(127, 127, 127, 0.5);
	-moz-box-shadow:    inset 0px 9px 8px -4px rgba(127, 127, 127, 0.5);
	box-shadow:         inset 0px 9px 8px -4px rgba(127, 127, 127, 0.5); 
}

.tchat-body-messages {
	position: relative;
	height: 170px;
	padding: 0 30px 20px;
}

@media(min-width: 768px) {
	.tchat-body-messages {
		height: 292px;
	}
}


.tchat-message {
	padding-top: 20px;
	display: flex;
}

.tchat-message-picture {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

.tchat-message-content {
	position: relative;
	padding: 15px;
	border-radius: 4px;
}

.tchat-message-content:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
}

.tchat-message-content p {
	font: normal normal 13px/16px 'Source Sans Pro';
}

.tchat-message.recipient {
	width: calc( 100% - 45px );
}

/* case recipient  */
.tchat-message.recipient .tchat-message-content {
	background: #f5f5f5;
	margin-left: 15px;
}

.tchat-message.recipient .tchat-message-content p {
	color: #333;
}

.tchat-message.recipient .tchat-message-content:before {
	left: -6px;
	top: 12px;
	border-width: 5px 7px 5px 0;
	border-color: transparent #f5f5f5 transparent transparent; 
}
/* / case recipient  */

/* case sender  */

.tchat-message.sender {
	width: calc( 100% - 45px );
	margin-left: 45px;
	justify-content: flex-end;
}

.tchat-message.sender .tchat-message-content {
	background: #3032c1;
}

.tchat-message.sender .tchat-message-content p {
	color: white;
}

.tchat-message.sender .tchat-message-content:before {
	right: -6px;
	bottom: 12px;
	border-width: 5px 0px 5px 7;
	border-color: transparent transparent transparent #3032c1; 
}
/* / case sender  */


.tchat-body-answer {
	width: 100%;
	background: white;
	border-top: 1px solid #f5f5f5;
}

.tchat-body-answer-form-row {
	padding: 16px 30px;
}

.tchat-body-answer-form-row input {
	width: 100%;
	height: 100%;
	font: normal normal 13px/16px 'Source Sans Pro';
	color: #333;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0;
	outline: none;
}

.tchat-body-answer-form-row input::-webkit-input-placeholder { color:#999; }
.tchat-body-answer-form-row input::-moz-placeholder { color:#999; } /* firefox 19+ */
.tchat-body-answer-form-row input:-ms-input-placeholder { color:#999; } /* ie */
.tchat-body-answer-form-row input:-moz-placeholder { color:#999; }

/* /TCHAT BODY */


/* TCHAT FOOTER */

.tchat-footer {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
	background: white;
	border-bottom: 1px solid #f5f5f5;
}

.tchat-footer:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	transition: box-shadow 0.2s ease-out;
}

.tchat-cmpnt .tchat-footer:after {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.tchat-cmpnt.opened .tchat-footer:after {
	-webkit-box-shadow: inset 0px 9px 8px -4px rgba(127, 127, 127, 0.2);
	-moz-box-shadow:    inset 0px 9px 8px -4px rgba(127, 127, 127, 0.2);
	box-shadow:         inset 0px 9px 8px -4px rgba(127, 127, 127, 0.2);
}

.tchat-footer-state {
	position: relative;
	width: 100%;
	font: normal normal 16px/19px 'Source Sans Pro';
	color: #5f5f5f;
	text-transform: uppercase;
	padding-left: 30px;
	user-select: none;
	cursor: pointer;
}

.tchat-footer-state svg {
	position: absolute;
	right: 20px;
}

.tchat-footer-state.hidden {
	display: none;
}

/* /TCHAT FOOTER */</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/tchat/tchat.css"><span>/components/raw/tchat/tchat.css</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">wg_static_agent/components/tchat/tchat.css</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">4.6 KB</span>
                </li>
            </ul>
        </div>
        
        <div class="FileBrowser-item" id="file-b2be3842de84497dcc1f0ce655915e4e" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-JavaScript FileBrowser-code">
                                <pre><span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">Tchat</span>(<span class="hljs-params"> el, datas </span>) </span>{
	<span class="hljs-keyword">this</span>.$el = <span class="hljs-built_in">document</span>.querySelector( <span class="hljs-string">'#tchat'</span> )
	<span class="hljs-keyword">this</span>.$panel = <span class="hljs-built_in">document</span>.querySelector( <span class="hljs-string">'.tchat-panel'</span> )

	<span class="hljs-keyword">this</span>.init()

	<span class="hljs-keyword">this</span>.setupForm()
	<span class="hljs-keyword">this</span>.setupOpenCloseButtons()
}

Tchat.prototype = {

	<span class="hljs-attr">init</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
		<span class="hljs-keyword">this</span>.windowOpened = <span class="hljs-literal">false</span>

		<span class="hljs-keyword">this</span>.$messagesContainer = <span class="hljs-keyword">this</span>.$el.querySelector( <span class="hljs-string">'.tchat-body-messages'</span> )
		Ps.initialize( <span class="hljs-keyword">this</span>.$messagesContainer )

		<span class="hljs-keyword">this</span>.updateScrollbar()

		<span class="hljs-comment">// attach or fix tchat on compact footer if exists</span>
		<span class="hljs-keyword">this</span>.$footerCompact = <span class="hljs-built_in">document</span>.querySelector( <span class="hljs-string">'.footer-compact-cmpnt'</span> )
		<span class="hljs-keyword">if</span>( <span class="hljs-keyword">this</span>.$footerCompact ) {
			<span class="hljs-keyword">this</span>.footerAbsolutePosition = <span class="hljs-literal">false</span>
			<span class="hljs-keyword">this</span>.onScrolling = <span class="hljs-keyword">this</span>.onScrolling.bind(<span class="hljs-keyword">this</span>)
			<span class="hljs-built_in">window</span>.addEventListener(<span class="hljs-string">'scroll'</span>, <span class="hljs-keyword">this</span>.onScrolling, <span class="hljs-literal">false</span>)
		}

	},

	<span class="hljs-attr">setupForm</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
		<span class="hljs-keyword">this</span>.$form = <span class="hljs-keyword">this</span>.$el.querySelector( <span class="hljs-string">'.tchat-body-answer-form'</span> )
		<span class="hljs-keyword">this</span>.$form.addEventListener( <span class="hljs-string">'submit'</span>, <span class="hljs-keyword">this</span>.onSendMessage.bind(<span class="hljs-keyword">this</span>), <span class="hljs-literal">false</span> )

		<span class="hljs-keyword">this</span>.$answerInput = <span class="hljs-keyword">this</span>.$form.querySelector( <span class="hljs-string">'input'</span> )
	},

	<span class="hljs-attr">onSendMessage</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"> evt </span>) </span>{
		<span class="hljs-keyword">if</span>( evt ) evt.preventDefault()
		<span class="hljs-keyword">this</span>.createMessage( { <span class="hljs-attr">type</span>: <span class="hljs-string">'sender'</span>, <span class="hljs-attr">text</span>: <span class="hljs-keyword">this</span>.$answerInput.value } )
		<span class="hljs-keyword">this</span>.updateScrollbar()

		<span class="hljs-keyword">this</span>.$answerInput.value = <span class="hljs-string">''</span>
	},

	<span class="hljs-attr">createMessage</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"> data </span>) </span>{
		<span class="hljs-keyword">var</span> cnt = <span class="hljs-built_in">document</span>.createElement( <span class="hljs-string">'div'</span> )
		cnt.classList.add( <span class="hljs-string">'tchat-message'</span> )
		cnt.classList.add( data.type )

		<span class="hljs-keyword">var</span> div1 = <span class="hljs-built_in">document</span>.createElement( <span class="hljs-string">'div'</span> )
		div1.classList.add( <span class="hljs-string">'tchat-message-content'</span> )
		cnt.appendChild( div1 )

		<span class="hljs-keyword">var</span> p1 = <span class="hljs-built_in">document</span>.createElement( <span class="hljs-string">'p'</span> )
		p1.innerHTML = data.text
		div1.appendChild( p1 )

		<span class="hljs-keyword">this</span>.$messagesContainer.appendChild( cnt )
	},

	<span class="hljs-attr">updateScrollbar</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
		<span class="hljs-keyword">this</span>.$messagesContainer.scrollTop = <span class="hljs-keyword">this</span>.$messagesContainer.scrollHeight + <span class="hljs-number">20</span>
		Ps.update( <span class="hljs-keyword">this</span>.$messagesContainer )
	},

	<span class="hljs-attr">setupOpenCloseButtons</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
		<span class="hljs-keyword">this</span>.$states = <span class="hljs-keyword">this</span>.$el.querySelectorAll( <span class="hljs-string">'.tchat-footer-state'</span> )
		<span class="hljs-keyword">this</span>.$buttonPanel = <span class="hljs-keyword">this</span>.$el.querySelector( <span class="hljs-string">'.tchat-footer-btn'</span> )
		<span class="hljs-keyword">this</span>.$buttonPanel.addEventListener( <span class="hljs-string">'click'</span>, <span class="hljs-keyword">this</span>.onToggleWindow.bind(<span class="hljs-keyword">this</span>), <span class="hljs-literal">false</span> )
	},

	<span class="hljs-attr">onToggleWindow</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"> evt </span>) </span>{
		<span class="hljs-keyword">if</span>( evt ) evt.preventDefault()
		<span class="hljs-keyword">this</span>.windowOpened ? <span class="hljs-keyword">this</span>.close() : <span class="hljs-keyword">this</span>.open()
	},

	<span class="hljs-attr">open</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
		<span class="hljs-keyword">this</span>.windowOpened = <span class="hljs-literal">true</span>
		<span class="hljs-keyword">this</span>.$states[<span class="hljs-number">0</span>].classList.add( <span class="hljs-string">'hidden'</span> )
		<span class="hljs-keyword">this</span>.$states[<span class="hljs-number">1</span>].classList.remove( <span class="hljs-string">'hidden'</span> )
		<span class="hljs-keyword">this</span>.$el.classList.add( <span class="hljs-string">'opened'</span> )

		<span class="hljs-keyword">this</span>.updateScrollbar()
	},

	<span class="hljs-attr">close</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
		<span class="hljs-keyword">this</span>.windowOpened = <span class="hljs-literal">false</span>
		<span class="hljs-keyword">this</span>.$states[<span class="hljs-number">0</span>].classList.remove( <span class="hljs-string">'hidden'</span> )
		<span class="hljs-keyword">this</span>.$states[<span class="hljs-number">1</span>].classList.add( <span class="hljs-string">'hidden'</span> )
		<span class="hljs-keyword">this</span>.$el.classList.remove( <span class="hljs-string">'opened'</span> )
	},

	<span class="hljs-attr">onScrolling</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
		<span class="hljs-comment">// ie11 compatibility</span>
		<span class="hljs-keyword">var</span> scrollTop = (<span class="hljs-built_in">document</span>.documentElement &amp;&amp; <span class="hljs-built_in">document</span>.documentElement.scrollTop) || <span class="hljs-built_in">document</span>.body.scrollTop
		
		<span class="hljs-keyword">var</span> value = (scrollTop + <span class="hljs-built_in">window</span>.innerHeight - <span class="hljs-keyword">this</span>.$footerCompact.offsetTop) / <span class="hljs-keyword">this</span>.$footerCompact.offsetHeight
		<span class="hljs-keyword">var</span> clampedValue = <span class="hljs-built_in">Math</span>.max(<span class="hljs-number">0</span>, <span class="hljs-built_in">Math</span>.min( value, <span class="hljs-number">1</span>))
		<span class="hljs-keyword">var</span> y = clampedValue * <span class="hljs-keyword">this</span>.$footerCompact.offsetHeight * <span class="hljs-number">-1</span>
		<span class="hljs-keyword">this</span>.$el.style.setProperty( <span class="hljs-string">'transform'</span>, <span class="hljs-string">'translateY( '</span> + y + <span class="hljs-string">'px )'</span> )
		
		
		<span class="hljs-keyword">if</span>( scrollTop + <span class="hljs-built_in">window</span>.innerHeight &gt; <span class="hljs-keyword">this</span>.$footerCompact.offsetTop ) {
			<span class="hljs-keyword">if</span>( <span class="hljs-keyword">this</span>.footerAbsolutePosition ) {
				<span class="hljs-keyword">this</span>.footerAbsolutePosition = <span class="hljs-literal">false</span>
				<span class="hljs-keyword">this</span>.$el.classList.add( <span class="hljs-string">'tchat-footer-absolute'</span> )
			}
		} <span class="hljs-keyword">else</span> {
			<span class="hljs-keyword">if</span>( !<span class="hljs-keyword">this</span>.footerAbsolutePosition ) {
				<span class="hljs-keyword">this</span>.footerAbsolutePosition = <span class="hljs-literal">true</span>
				<span class="hljs-keyword">this</span>.$el.classList.remove( <span class="hljs-string">'tchat-footer-absolute'</span> )
			}
		}
	}

}



<span class="hljs-built_in">window</span>.addEventListener( <span class="hljs-string">'DOMContentLoaded'</span>, <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
	<span class="hljs-keyword">var</span> tchat = <span class="hljs-keyword">new</span> Tchat()
}, <span class="hljs-literal">false</span>)</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/tchat/tchat.js"><span>/components/raw/tchat/tchat.js</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">wg_static_agent/components/tchat/tchat.js</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">3.5 KB</span>
                </li>
            </ul>
        </div>
        
    </div>
</div>



    
    <div class="Browser-panel" data-role="tab-panel" id="browser-797876cbcb302ad85cf761b70d69f30b-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@tchat</span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/tchat.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/tchat.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">wg_static_agent/components/tchat/tchat.html</span>
        </li>
        
        
    </ul>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-797876cbcb302ad85cf761b70d69f30b-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p class="Browser-isEmptyNote">There are no notes for this item.</p>
        
    </div>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>
        
        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation">

    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-components">
    <h3 class="Tree-title">components</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="agency-contact-form.html" data-pjax>
                <span>Agency Contact Form</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="agency-header.html" data-pjax>
                <span>Agency Header</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="agency-our-services.html" data-pjax>
                <span>Agency Our Services</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="agency-social-networks.html" data-pjax>
                <span>Agency Social Networks</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="agency-sticky-contact.html" data-pjax>
                <span>Agency Sticky Contact</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="agent-profile.html" data-pjax>
                <span>Agent Profile</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="buttons.html" data-pjax>
                <span>Buttons</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="footer-compact.html" data-pjax>
                <span>Footer Compact</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="myaxa-application.html" data-pjax>
                <span>Myaxa Application</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="slider-our-partners.html" data-pjax>
                <span>Slider Our Partners</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity is-current" data-state="current" data-role="item">
            <a class="Tree-entityLink" href="" data-pjax>
                <span>Tchat</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="visa-deal-day.html" data-pjax>
                <span>Visa Deal Day</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

    </ul>
</div>

</div>



    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <h3 class="Tree-title">documentation</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/button.html" data-pjax>
                <span>Button</span>
                
            </a>
        </li>
        
    

    </ul>
</div>

</div>



    


</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.2.0"></script>



</body>
</html>
