/* https://github.com/axa-ch/patterns-library/blob/develop-v2/src/components/00-materials/00-colors.scss
*/
@import '../../materials/grids.scss';
@import '../../materials/colors.scss';
@import '../../materials/typography.scss';

:root {
    --button__motion-duration: 0.3s;
    --button__motion-easing: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

[is=axa-button] {
    position: relative;
    box-sizing: border-box;
    padding-left: $spacing-2;
    padding-right: $spacing-2;
    hyphens: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-decoration: none;
    vertical-align: middle;
    color: var(--color-prim-white);
    background-color: var(--color-axa-blue);
    border-width: 0;
    height: $spacing-6;
    //border: solid 2px var(--color-axa-blue);
    //border-bottom-color: var(--color-prim-blue-deep-sapphire);
}

[is=axa-button].a-button {
    &--secondary {
        background-color: transparent;
        border-width: 2px;
        border-color: var(--color-axa-blue);
        color: var(--color-axa-blue);
    }

    &--secondary:hover,
    &--secondary:active,
    &--secondary:focus {
        color: var(--color-prim-white);
    }


    &--secondary--white {
        border-width: 2px;
        background-color: transparent;
        border-color: var(--color-prim-white);
        color: var(--color-prim-white);
    }

    &--secondary--white:hover,
    &--secondary--white:active,
    &--secondary--white:focus {
        //border-width: 0;
        background-color: var(--color-prim-white);
        color: var(--color-axa-blue);
        border-color: var(--color-prim-white);
    }

    /*&--inverted&--motion {
        background-color: transparent;
    }

    &--inverted&--motion::after {
        background-color: var(--color-prim-white);
    }*/

    /*&--secondary&--motion {
        background-color: transparent;
    }*/
}

[is=axa-button]:hover,
[is=axa-button]:active,
[is=axa-button]:focus {
    cursor: pointer;
    text-decoration: none;
    background-color: var(--color-prim-blue-deep-sapphire);
    border-color: var(--color-prim-blue-deep-sapphire);
}

[is=axa-button]:disabled {
    color: var(--color-prim-white); // #999;
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    border-bottom-color: #ccc;
    pointer-events: none;
    border-width: 0;
    border-bottom-width: 2px;
}

.a-button__icon {
    margin-left: $spacing-2;
}

.a-button--motion {
    z-index: 0;
    overflow: hidden;

    transition: color var(--button__motion-duration) var(--button__motion-easing) 0s;
}

.a-button--motion::after {
    position: absolute;
    top: 50%;
    left: 50%;

    z-index: -1;

    display: block;

    /*// fix iOS double tap for :hover
    // zero width is considered hidden*/
    width: 0.001px;
    height: 550px;
    content: '';

    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: width var(--button__motion-duration) var(--button__motion-easing) 0s;

    background-color: var(--color-prim-blue-deep-sapphire);
}

.a-button--motion:hover,
.a-button--motion:focus {
    background-color: var(--color-axa-blue);
    color: var(--color-prim-white);
}

.a-button--motion::after {
    width: 110%;
    background-color: var(--color-prim-blue-deep-sapphire);
}

.a-button--red {
    background-color: var(--color-prim-red-burnt-sienna);
    border-color: var(--color-prim-red-burnt-sienna);
    border-bottom-color: var(--color-prim-red-flamingo);
}

.a-button--red:hover,
.a-button--red:active,
.a-button--red:focus {
    background-color: var(--color-prim-red-flamingo);
    border-color: var(--color-prim-red-flamingo);
}


.a-button--red .a-button--motion::after {
    background-color: var(--color-prim-red-flamingo);
}

.a-button--red .a-button--motion:hover,
.a-button--red .a-button--motion:focus {
    background-color: var(--color-prim-red-burnt-sienna);
    color: var(--color-prim-white);
}

.a-button--red .a-button--motion::after {
    background-color: var(--color-prim-red-flamingo);
}