/* https://github.com/axa-ch/patterns-library/blob/develop-v2/src/components/00-materials/00-colors.scss
*/

@import '../../materials/colors.scss';

.m-hero-cover {
    // @include typo(primary, medium, regular);
    display: block;
    height: 30rem;
    min-height: 24rem;
    background-size: cover;
    //background: no-repeat center center; // ;
    background-position: center;
    position: relative;

    &__text-background {
        padding: 2rem;
        width: 50%;
        height: 100%;

        &--rtl {
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.9) 60%, #fff 100%);
            right: 0;
            position: absolute;
            //max-width: 60%;
            padding-left: 50%;

            &--wob {
                background: linear-gradient(90deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.9) 60%, black 100%);
                color: white;
            }
        }

        &--ltr {
            background: linear-gradient(90deg, #fff 30%, rgba(255, 255, 255, 0.9) 60%, rgba(255, 255, 255, 0) 100%);

            &--wob {
                background: linear-gradient(90deg, black 30%, rgba(0, 0, 0, 0.9) 60%, rgba(0, 0, 0, 0) 100%);
                color: white;
            }
        }
    }

    .a-typo__main-title--secondary,
    .a-typo__title {
        margin-top: 0;
        margin-bottom: 0;
    }
}