@import "../../materials/grids.scss";
@import "../../materials/typography.scss";
@import "../../materials/colors.scss";
@import "../../materials/elevation.scss";


// common styles
$header-border-style: 1px solid $color-mercury;
$shadow-as-background: linear-gradient(to bottom, rgba(225, 225, 225, 1) 0%, white $shadow-radius-3, white 100%);
$base-z-index : 1;

axa-header-menu {
    display: block;
    box-shadow: $shadow-2;
    z-index: $base-z-index;
    position: relative;
}

.m-header {

    // from tablet
    //@media (min-width: calc((#{$breakpoint-M}) - 1px)) {
    @media (min-width: $breakpoint-M) {
        @import './tablet-desktop.scss';
    }

    //@media (min-width: calc((#{$breakpoint-M}) - 1px)) {
    // no browser supports calc() in @media, so we have to fall back to pixels
    @media (max-width: $breakpoint-M-pixels - 1px) {
        @import './mobile.scss';
    }

    & axa-icon {

        // the search icon
        &[icon=search] {
            color: $color-silver;
        }

        color: $color-axa-blue;
        width: $spacing-4;
    }
}