//.m-header
& {
	//border: 3px dashed red;

	padding: $spacing-1 $spacing-2;
	display: flex;
	justify-content: flex-end; // sets everyone on the right

	& axa-logo {
		margin-right: auto; // except for the logo, that we pushes back to the left
	}



	& axa-icon {
		padding-left: $spacing-2;
	}

	// separate menu and search icon, if both are present
	& axa-icon+axa-icon {
		border-left: $header-border-style;
		margin-left: $spacing-2;
	}

	// by default, hide all but search and hamburger menu
	& [name="structure"],
	& [name="call-to-action"] {
		display: none;
	}

	// appears when clicked
	& [name="structure"].expanded,
	& [name="call-to-action"].expanded {
		display: flex;
		position: absolute;
		z-index: 1;
	}

	// submenu design
	& [name="structure"] {

		// reset
		& ul,
		& li {
			list-style: none;
			padding: 0;
			margin: 0;
		}


		background-color: var(--color-white);
		right: 0;
		top: 2*$spacing-2+$spacing-6; // recalculate header heigh : logo height + header vertical padding
		width: $breakpoint-MIN;
		//max-width: $breakpoint-MIN;

		// lvl 1 navigation
		&>ul {
			display: flex;
			flex-direction: column;
		}

		&>ul>li {
			padding: $spacing-2 $spacing-5;
			border-bottom: $header-border-style;
			position: relative;

			// the small ">" sign after
			&[aria-haspopup=true] a:after {
				content: url('../../atoms/icon/materials/chevron_right.svg');
				width: $spacing-2;
				display: inline-block;
				vertical-align: middle;
				right: $spacing-5;
				color: var(--color-axa-blue);
				//fill: currentColor;
				position: absolute;
			}
		}

		// navigation lvl 2
		&>ul>li>ul {
			display: none;
		}
	}
}