//.m-header
& {
	// DEBUG
	// border: 1px solid red;

	// max-width + center
	margin: 0 auto;
	max-width: $breakpoint-MAX;
	box-sizing: border-box;

	padding: $spacing-1 $spacing-3;

	// position root elements and give them space
	display: flex;

	& [name="call-to-action"] {
		display: inline-flex;
		flex-basis: auto; // takes as much as needed
	}

	& [name="structure"] {
		display: block;
		flex: 12; // takes the rest
	}

	// logo, always visible
	axa-logo {
		width: $spacing-6; // takes a fixed width
	}

	& axa-icon {
		display: inline-flex;
	}

	& axa-icon[icon=menu] {
		display: none;
	}



	position: relative;

	& [name="structure"] {

		// reset
		& ul,
		& li {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		$subMenuWidthLargeScreenPercent: 60; // 
		$subMenuTopLargeScreen: $spacing-6+(2 * $spacing-1); // add logo height + header paddings

		// navigation lvl 1
		&>ul {
			display: flex;
			width: 100%;
			justify-content: flex-end;
			align-items: center;
			height: $spacing-6;
		}

		&>ul>li {
			$textMenuPadding: $spacing-1;
			margin-left: $spacing-3;
			padding: 0 $textMenuPadding;

			>a {
				// large padding-bottom and z-index > :after, to have enough space for mouse hovering
				padding-bottom: $spacing-4;
			}

			// the orange bar under the hovered item
			&:hover::after {

				$barHeight: 4px;
				// at the bottom of the nav
				display: block;
				position: absolute;
				// our visual effect
				height: $barHeight;
				background-color: $color-prim-red-burnt-sienna;
				// initial width is the same as the parent because we copy the text
				content: attr(textContent);
				// @extend a-typo__menu-item // would have been perfect, but does not work in this case
				@include typo(text, text-catchy, semibold);
				letter-spacing: 1px;
				text-transform: uppercase;


				color: $color-prim-red-burnt-sienna;
				overflow: hidden; // have this text disappear
				// visual width must include the padding of the parent
				padding: 0 $textMenuPadding;

				// correct the position
				transform: translateX(-1*$textMenuPadding); // translateY($spacing-3) translateY(-$barHeight) translateY(-3px);
				bottom: 0;
			}
		}


		// navigation lvl 2
		&>ul>li>ul {
			display: none;
			position: absolute;
			z-index: 1;
			right: 0; // stick to the right of the .m-header
			top: calc(#{$subMenuTopLargeScreen} + 1px);
			max-width: $breakpoint-MAX * ($subMenuWidthLargeScreenPercent / 100);
			width: $subMenuWidthLargeScreenPercent * 1vw;
			background-image: $shadow-as-background;


			padding-top: $spacing-4;

			// display as columns
			flex-flow: column wrap;
			align-content: flex-start;
			// the height must fit the number of items, up to 5 lines, then break into 2 columns then 3 columns
			@import '../../materials/typography.scss';
			$subMenuHeight: 5*($spacing-3 + nth(map-get($text-sizes, text-secondary), 2)); // margin-bottom + line-height

			max-height: $subMenuHeight;
			height: $subMenuHeight;


			& li {
				width: $breakpoint-MIN;
				margin-bottom: $spacing-3;
				margin-left: $spacing-4; // 4, 6, 12

				& [aria-current="page"] {
					color: $color-deep-sapphire;
					font-weight: 600;
				}
			}

			box-shadow: ($shadow-radius-3 *-1) ($shadow-radius-3 / 2) $shadow-radius-3 $shadow-color;

			// left zone
			&:before {
				box-shadow: ($shadow-radius-3 *-1) ($shadow-radius-3 / 2) $shadow-radius-3 $shadow-color;

				content: attr(parentTitle);
				@include typo(text, h5, bold); // @extend a-typo__text-title would have been perfect

				// at the left of the nav
				$leftZoneWidth: (100-$subMenuWidthLargeScreenPercent) * 1vw;

				position: absolute;
				left: calc(#{$leftZoneWidth * -1} - 4px);

				@media (min-width: $breakpoint-MAX) {
					left: (2/3*100)*-1%;
				}

				// imitate the shadow of the header
				background-image: $shadow-as-background;

				top:0;
				max-width: $breakpoint-MAX * ((100-$subMenuWidthLargeScreenPercent) / 100);
				width: calc(#{$leftZoneWidth} + 4px);
				height: $subMenuHeight+$spacing-4; // height of the submenu + its padding
				// align the text vertically / horizontally
				display:flex;
				flex-direction:row;
				align-items: center;

				//border:1px red dotted;

				justify-content: center;
			}

			&:after {
				// the separation line
				border-left: $header-border-style;
				content: '';
				height: $subMenuHeight - $spacing-4;
				left: 0;
				top: $spacing-4;
				position: absolute;
			}
		}

		// submenu appears
		&>ul>li:hover>ul {
			display: flex;
		}
	}

	& [name="call-to-action"] {
		margin-left: $spacing-3;
	}

	& axa-icon {
		padding: 0;
		padding-left: $spacing-2;
		margin-left: $spacing-2;
		border-left: $header-border-style;
		height: $spacing-4+$spacing-2; // width + padding-left

	}

}