// https://design.axa.com/web-guidelines/structure#grids

// Breakpoints
$breakpoint-S-pixels: 600;
$breakpoint-S: ($breakpoint-S-pixels /16) * 1rem; // 600px = 37.5rem
$breakpoint-M-pixels: 1024;
$breakpoint-M: ($breakpoint-M-pixels /16) * 1rem; // 1024px = 64rem
$breakpoint-L: 80rem; // 1280px;
// $breakpoint-XL: 1440px;
$breakpoint-MAX: 99rem; // 1584px
$breakpoint-MIN: 21rem; // 336px

// tuples of 8 px expressed as rem. rem is most of the time 16px
$spacing-1: 0.5rem; // 8px
$spacing-2: 1rem; // 16px
$spacing-3: 1.5rem; // 24px
$spacing-4: 2rem; // 32px
$spacing-5: 2.5rem; // 40px
$spacing-6: 3rem; // 48px

$gutter : 1rem;