{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "entry",
      "forceAllTransforms": true,
      "corejs": 3,
      "targets": {
        "ie": 10,
      },
    }],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-transform-arrow-functions"]
}