@import '../../materials/colors.scss';
@import '../../materials/grids.scss';

.m-hero-cover {
    position: relative;

    display: block;

    margin: 0 auto;
    //border: 1px solid red;

    // design A : tablets and desktop (> 1024)
    @media (min-width: $breakpoint-M) {
        // deals with aspect-ratio
        background-size: cover;
        //background: no-repeat center center; // ;
        background-position: center;
        height: (100/16*9)+vw; // conserve 16/9 aspect ratio

        &__text-background {
            padding: (1/12*100%); // 1 of the 12 grids is for padding
            width: (8/12*100%);


            box-sizing: border-box;
            height: 100%;

            &--rtl {
                background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .80) 25%, rgba(255, 255, 255, 0.95) 100%);
                padding-left: 2/12*100%;
                right: 0;
                position: absolute;

                &--wob {
                    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.80) 25%, rgba(0, 0, 0, 0.95) 100%);

                    * {
                        color: $color-white;
                    }
                }
            }

            &--ltr {
                background: linear-gradient(to left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .80) 25%, rgba(255, 255, 255, 0.95) 100%);

                &--wob {
                    background: linear-gradient(to left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.80) 25%, rgba(0, 0, 0, 0.95) 100%);

                    * {
                        color: $color-white;
                    }
                }
            }
        }

        // vertically middle align the content
        &__content {
            top: 50%;
            position: relative;
            transform: translateY(-50%);
        }
    }

    // design C is B + max-width
    @media (min-width: $breakpoint-MAX) {
        width: $breakpoint-MAX;
        height: (9/16) * $breakpoint-MAX;
    }


    // design B : mobiles (< 1024)
    @media (max-width: $breakpoint-M) {
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;

        background-color: $color-alabaster;

        &__text-background {
            padding: $gutter;
            padding-top: calc(#{(100/16*9)+vw} - #{$spacing-4}); // the heigh of the image minus some margin

        }

        &__content {
            background: $color-white;
            padding: 0 (1/12*100%);
            padding-top: $spacing-4;
            padding-bottom: $spacing-4;
        }
    }

    // set space between main title and category title, if there is one
    .a-typo__category+.a-typo__page-title {
        margin-top: $spacing-2;
    }

    .a-typo__page-title+.a-typo__highlight {
        margin-top: $spacing-2;
    }

    .a-typo__highlight+.a-typo__legals {
        margin-top: $spacing-2;
    }

    // spacing betwee slot CTA and the rest
    .a-typo__legals+[name=call-to-action],
    .a-typo__highlight+[name=call-to-action],
    .a-typo__page-title+[name=call-to-action] {
        margin-top: $spacing-2;
        display: inline-block;
    }

    // manage the margins and alignments between the call to actions, when there is more than one
    .a-button {
        margin-top: $spacing-2;
        margin-right: $spacing-2;
        margin-left: 0;
        vertical-align: bottom;
    }

    .a-button:last-child {
        margin-right: 0;
    }

}