@import '../../materials/colors.scss';
@import '../typography/index.scss';
@import '../../materials/grids.scss';
@import '../../materials/elevation.scss';


@mixin inputStyling () {

	border: 1px solid $color-silver;
	padding: $spacing-1 $spacing-2;
	margin: $spacing-1 0;
	box-sizing: border-box;
	height: $spacing-6;

	&::placeholder {
		color: $color-dusty-gray;
	}
}

$base-zIndex: 1;

axa-input {
	// placement and dimensions
	display: inline-block;
	vertical-align: top;
	min-width: 18rem;
	max-width: 23.75rem;
	width: calc(100% - #{$spacing-1});
	padding-bottom: $spacing-4;

	label,
	input {
		width: 100%;
		display: inline-block;
		box-sizing: border-box;
		z-index: $base-zIndex + 1;
	}

	// styling
	input {
		@extend .a-typo__text;
		@include inputStyling();
	}

	[slot=info],
	[role=alert] {
		display: block;
		padding: 0;
		margin: 0;
		@extend .a-typo__legals;
	}

	label {
		@extend .a-typo__label;
		position: relative; // for positioning the status icons

		&::after {
			// will contain success or error icons
			width: $spacing-2;
			right: $spacing-1;
			bottom: 0;
			display: block;
			position: absolute;
		}
	}

	// manage states
	&.disabled {

		label,
		.revealer {
			color: $color-dusty-gray;
		}
	}

	&.valid input {
		border-color: $color-malachite;
	}

	&.valid label::after {
		content: url("../../atoms/icon/materials/check.svg");
	}

	&.invalid label::after {
		content: url("../../atoms/icon/materials/error.svg");
	}

	&.invalid input {
		border-color: $color-shy-tomato;
	}

	[role=alert] {
		color: $color-shy-tomato;
	}

	// code for the password revealer
	.revealer {
		color: $color-axa-blue;
		background-color: transparent;
		padding: 0;
		margin: 0;
		border: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		width: $spacing-4;
		height: $spacing-4;
	}

	.with-icon {
		// disguise the container as an input
		background-color: white;
		@include inputStyling();
		padding-top: 0;
		padding-bottom: 0;
		display: flex;
		align-items: center;

		& input {
			// reset our input
			border: 0;
			margin: 0;
			padding: 0;
			height: calc(#{$spacing-6} - 2px); // height of the original input minus the borders
		}
	}

	// autocomplete, generated code by external code awesomplete
	& .awesomplete {
		@import './input-autocomplete.scss';

	}

	// styling for list of options (ul+li), used by autocomplete and fake select
	[role=listbox] {
		// reset
		list-style: none;
		margin: 0;
		// positionning
		position: absolute;
		left: 0;
		min-width: 100%;
		box-sizing: border-box;
		margin-top: -1* $spacing-1;
		// decorate
		box-shadow: $shadow-4;
		padding: 0 $spacing-1;
		z-index: $base-zIndex - 1;
		background: #fff;
		@extend .a-typo__link;


		li {
			padding: $spacing-2 $spacing-1;

			&+li {
				border-top: 1px solid $color-mercury;
			}
		}
	}

}