@import "../../materials/grids.scss";
@import "../../materials/typography.scss";
@import "../../materials/colors.scss";


.m-header {
    // common styles
    $header-border-style: 1px solid $color-mercury;
    border-bottom: $header-border-style;

    // from tablet
    //@media (min-width: calc((#{$breakpoint-M}) - 1px)) {
    @media (min-width: $breakpoint-M) {
        @import './tablet-desktop.scss';
    }

    //@media (min-width: calc((#{$breakpoint-M}) - 1px)) {
    // no browser supports calc() in @media, so we have to fall back to pixels
    @media (max-width: $breakpoint-M-pixels - 1px) {
        @import './mobile.scss';
    }

    & axa-icon {

        // the search icon
        &[icon=search] {
            color: $color-silver;
        }

        color: $color-axa-blue;
        width: $spacing-4;
        height: $spacing-4+$spacing-2; // width + padding-left
    }
}