@import "../../materials/typography.scss";


// overwrite the default a:href
%axa-links {
  text-decoration: none;
  color: $color-axa-blue;
}


.a-typo {
  &__event-title {
    @include typo(title, event, bold);
  }

  &__page-title {
    @include typo(title, h1, bold);
  }

  &__slice-title {
    @include typo(title, h2, bold);
  }

  &__module-title {
    @include typo(title, h3, bold);
  }

  &__card-title {
    @include typo(title, h4, bold);
  }

  &__text-title {
    @include typo(text, h5, bold);
  }

  &__highlight,
  &__quote {
    @include typo(text, quote, regular);
  }

  &__label {
    @include typo(text, label, bold);
  }

  &__text {
    @include typo(text, text, regular);
  }

  &__secondary-text,
  &__link {
    @include typo(text, text-secondary, regular);

    a {
      @extend %axa-links;
    }
  }

  @at-root {

    a#{&}__link,
    a#{&}__menu-item {
      @extend %axa-links;
    }
  }


  &__button,
  &__primary-link,
  &__category,
  &__menu-item {
    @include typo(text, text-catchy, semibold);
    letter-spacing: 1px;
    text-transform: uppercase;

    a {
      @extend %axa-links;
    }
  }

  &__legals {
    @include typo(text, legals, regular);
  }

  &__spacing-top__1 {
    margin-top: $spacing-1;
  }

  &__relative-spacing-top__1 {
    margin-top: .5em;
  }

  &__spacing-top__2 {
    margin-top: $spacing-2;
  }

  &__relative-spacing-top__2 {
    margin-top: 1em;
  }

  &__spacing-top__3 {
    margin-top: $spacing-3;
  }

  &__spacing-top__4 {
    margin-top: $spacing-4;
  }

}