<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="/book/wg_static_agent/statics/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/book/wg_static_agent/statics/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/book/wg_static_agent/statics/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="/book/wg_static_agent/statics/css/global.css" rel="stylesheet" type="text/css">
    <link href="/book/wg_static_agent/statics/css/link.css" rel="stylesheet" type="text/css">

    <link href="/wg_static_agent/components/buttons/buttons.css" rel="stylesheet" type="text/css">

    <link href="/wg_static_agent/components/agency-header/agency-header.css" rel="stylesheet" type="text/css">
</head>

<body>

  <div class="root">

    <!-- component  -->
    <div class="header__wrapperStyle">

      <!-- desktop header meta  -->
      <div class="metaHeaderStyle">
        <div class="containerDesktop containerDesktopXL">
          <!-- desktop lang selector  -->
          <div class="langSwitch">
            <span class="linkMetaStyle">FR
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
                <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
              </svg>
            </span>
            <ul class="langList">
              <li>
                <a class="linkMetaStyle" href="#">EN</a>
              </li>
            </ul>
          </div>
          <!-- / desktop lang selector  -->
        </div>
      </div>
      <!-- / desktop header meta  -->

      <div class="container wrapperStyle">

        <!-- axa logo  -->
        <a class="logoLinkStyle" href="/">
          <img src="/book/wg_static_agent/statics/icons/logo-AXA.svg" alt="">
        </a>
        <!-- / axa logo  -->

        <!-- mobile menu   -->
        <div class="menuMobileStyle">
          <div>
            <div class="menuMobileTopHeaderStyle">
              <a class="button ghost-blue medium" href="#"><span>Download MYAxa.com</span></a>
            </div>
            <ul>
              <li class="menuItemStyle">
                <a class="menuLinkStyle" href="https://axa.com" target="_blank">
                  Visit axa.com
                  <svg class="menuItemIconStyle" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32"><path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path></svg>
                </a>
              </li>
            </ul>

            <div class="metaHeaderStyle">
              <div class="containerDesktop containerDesktopXL">
                <div class="langSwitch">
                  <ul class="langList linkMetaStyle">
                    <li>
                      <a class="linkLangStyle selected" href="#">EN</a>
                    </li>
                    <li>
                      <a class="linkLangStyle" href="#">FR</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / mobile menu   -->

        <!-- desktop menu   -->
        <div class="menuDesktopStyle">

          <ul class="fadeOnSearch alignItemsCenter">
            <li class="menuItemStyle agency-header-visit-axacom-item">
              <a class="firstLevelLink agency-header-visit-axacom-btn" href="https://axa.com" target="_blank">
                Visit axa.com
              </a>
            </li>
            <li class="menuItemStyle noHoverOnItem">
              <a class="button ghost-blue medium agency-header-download-myaxa-btn" href="https://axa.com" target="_blank"><span>Download MYAxa.com</span></a>
            </li>
          </ul>
          <span class="stroke"></span>
        </div>
        <!-- / desktop menu   -->

        <div class="searchButtonStyle">
          <svg class="search-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
          <path d="M30.933 29.067l-6.6-6.6c3.667-4.467 4-10.933 0.8-15.733-2.867-4.333-8.067-6.667-13.2-5.867-5 0.733-9.267 4.467-10.733 9.333-1.467 4.933 0.133 10.4 4 13.8 4.867 4.267 12.2 4.4 17.2 0.267l6.6 6.6c1.267 1.267 3.133-0.6 1.933-1.8zM3.333 14c0-4.4 2.867-8.533 7-10 4.2-1.533 9.067-0.2 11.867 3.267s3.2 8.4 0.933 12.267c-2.267 3.8-6.867 5.8-11.267 4.933-4.867-1-8.533-5.467-8.533-10.467z"></path>
          </svg>
          <input class="searchInput" type="search" placeholder="Search" />
        </div>

        <div class="menuButtonStyle">
          <svg class="cross-gap" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
            <path d="M12 13.333c-0.333 0-0.667-0.133-0.933-0.4l-9.333-9.333c-1.2-1.2 0.667-3.133 1.867-1.867l9.333 9.333c0.8 0.8 0.2 2.267-0.933 2.267z"></path>
            <path d="M29.333 30.667c-0.333 0-0.667-0.133-0.933-0.4l-9.333-9.333c-1.2-1.2 0.667-3.133 1.867-1.867l9.333 9.333c0.8 0.8 0.2 2.267-0.933 2.267z"></path>
            <path d="M2.667 30.667c-1.133 0-1.733-1.467-0.933-2.267l26.667-26.667c1.2-1.2 3.133 0.667 1.867 1.867l-26.667 26.667c-0.267 0.267-0.6 0.4-0.933 0.4z"></path>
          </svg>
          <svg class="menu-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
            <path d="M30.667 6.667h-29.333c-1.733 0-1.733-2.667 0-2.667h29.333c1.733 0 1.733 2.667 0 2.667z"></path>
            <path d="M30.667 17.333h-29.333c-1.733 0-1.733-2.667 0-2.667h29.333c1.733 0 1.733 2.667 0 2.667z"></path>
            <path d="M30.667 28h-29.333c-1.733 0-1.733-2.667 0-2.667h29.333c1.733 0 1.733 2.667 0 2.667z"></path>
          </svg>
        </div>

      </div>
    </div>
    <!-- / component  -->

  </div>


  <!-- scripts -->
  <script src="/wg_static_agent/components/agency-header/agency-header.js"></script>
  <!-- scripts -->

</body>

</html>
