/* https://github.com/axa-ch/patterns-library/blob/develop-v2/src/components/00-materials/00-colors.scss
*/

@import '../../materials/colors.scss';
@import '../../materials/typography.scss';

:root {
    --button__motion-duration: 0.3s;
    --button__motion-easing: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.a-button {
    @include typo(primary, medium, regular);
    position: relative;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 40px;
    hyphens: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    color: var(--color-prim-white);
    background-color: var(--color-axa-blue);
    border: solid 2px var(--color-axa-blue);
    border-bottom-color: var(--color-prim-blue-deep-sapphire);
}

.a-button:hover,
.a-button:active,
.a-button:focus {
    cursor: pointer;
    text-decoration: none;
    background-color: var(--color-prim-blue-deep-sapphire);
    border-color: var(--color-prim-blue-deep-sapphire);
}

.a-button:disabled {
    color: #999;
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    border-bottom-color: #ccc;
    pointer-events: none;
}

.a-button__flex-wrapper {
    display: flex;
    align-items: center;
}

.a-button__icon {
    margin-left: 12px;
}

.a-button--large {
    min-height: 50px;
    line-height: .64;
}

.a-button--motion {
    z-index: 0;
    overflow: hidden;

    transition: color var(--button__motion-duration) var(--button__motion-easing) 0s;
}

.a-button--motion::after {
    position: absolute;
    top: 50%;
    left: 50%;

    z-index: -1;

    display: block;

    /*// fix iOS double tap for :hover
    // zero width is considered hidden*/
    width: 0.001px;
    height: 550px;
    content: '';

    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: width var(--button__motion-duration) var(--button__motion-easing) 0s;

    background-color: var(--color-prim-blue-deep-sapphire);
}

.a-button--motion:hover,
.a-button--motion:focus {
    background-color: var(--color-axa-blue);
    color: var(--color-prim-white);
}

.a-button--motion::after {
    width: 110%;
    background-color: var(--color-prim-blue-deep-sapphire);
}

.a-button--red {
    background-color: var(--color-prim-red-burnt-sienna);
    border-color: var(--color-prim-red-burnt-sienna);
    border-bottom-color: var(--color-prim-red-flamingo);
}

.a-button--red:hover,
.a-button--red:active,
.a-button--red:focus {
    background-color: var(--color-prim-red-flamingo);
    border-color: var(--color-prim-red-flamingo);
}


.a-button--red .a-button--motion::after {
    background-color: var(--color-prim-red-flamingo);
}

.a-button--red .a-button--motion:hover,
.a-button--red .a-button--motion:focus {
    background-color: var(--color-prim-red-burnt-sienna);
    color: var(--color-prim-white);
}

.a-button--red .a-button--motion::after {
    background-color: var(--color-prim-red-flamingo);
}



.a-button--secondary {
    background-color: transparent;
    border-bottom-color: var(--color-axa-blue);
    color: var(--color-axa-blue);
}

.a-button--secondary:hover,
.a-button--secondary:active,
.a-button--secondary:focus {
    color: var(--color-prim-white);
}

.a-button--secondary.a-button--motion {
    background-color: transparent;
}

.a-button--inverted {
    background-color: transparent;
    border-color: var(--color-prim-white);
    color: var(--color-prim-white);
}

.a-button--inverted:hover,
.a-button--inverted:active,
.a-button--inverted:focus {
    background-color: var(--color-prim-white);
    border-color: var(--color-prim-white);
    color: inherit;
}

.a-button--inverted.a-button--motion {
    background-color: transparent;
}

.a-button--inverted.a-button--motion::after {
    background-color: var(--color-prim-white);
}