@import '../../materials/grids.scss';
@import '../../materials/colors.scss';
@import '../../materials/typography.scss';


// separate buttons next to each other
.a-button+.a-button {
    margin-left: $spacing-2;
}

.a-button {

    display: inline-block;
    position: relative;
    box-sizing: border-box;


    & button {
        padding: 0;
        margin: 0;
        padding-left: $spacing-2;
        padding-right: $spacing-2;
        hyphens: auto;
        overflow-wrap: break-word;
        word-wrap: break-word;
        text-decoration: none;
        height: $spacing-6;

        border-width: 2px;
        border-style: solid;

    }

    &--primary {
        background-color: $color-axa-blue;

    }

    &--primary button {
        color: $color-white;
        border-width: 0px;
        border-color: $color-deep-sapphire;
        background-color: transparent;

        &:before {
            background-color: $color-deep-sapphire;
        }
    }

    &--secondary button {
        background-color: transparent;
        border-color: $color-axa-blue;
        color: $color-axa-blue;

        &:before {
            background-color: $color-deep-sapphire;
        }
    }

    &--secondary button:hover,
    &--secondary button:active,
    &--secondary button:focus {
        color: $color-white;

    }


    &--secondary--white button {
        background-color: transparent;
        border-color: $color-white;
        color: $color-white;

        &:before {
            background-color: $color-white;
        }
    }

    &--secondary--white button:hover,
    &--secondary--white button:active,
    &--secondary--white button:focus {
        color: $color-axa-blue;
    }



    // parameters of the animation
    $button__motion-duration: 0.3s;
    $button__motion-easing: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    overflow: hidden;
    z-index: 0;

    & button {
        transition: color $button__motion-duration $button__motion-easing 0s;
    }

    & button::before {
        position: absolute;
        top: 50%;
        left: 50%;

        z-index: -1;

        display: block;

        // fix iOS double tap for :hover
        // zero width is considered hidden
        width: 0.001px;
        height: 550px;
        content: '';

        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transition: width $button__motion-duration $button__motion-easing 0s;
    }

    & button:hover:before,
    & button:focus:before {
        width: 110%;
    }
}

.a-button button:hover,
.a-button button:active,
.a-button button:focus {
    cursor: pointer;
    text-decoration: none;
}

.a-button button:focus {
    // accessibility : let the color be seen on focus, supposed with tabulation
    outline-color: invert;
}

.a-button button:hover,
.a-button button:active {
    outline: 0;
}

//outline: 2px solid $color-deep-sapphire;

.a-button button:disabled {
    color: $color-silver;
    background-color: $color-mercury;
    border-color: $color-mercury;
    pointer-events: none;
    border-width: 0;
    border-bottom: solid 2px $color-silver;
}

.a-button__icon {
    margin-left: $spacing-2;
}