// https://zpl.io/VDK3Q7l
$color-white: white; // background, dark background, text, button secondary
$color-axa-blue: #00008f; // button primary background, autocomplete option matching
$color-axa-blue-dark:#000072; // dark variation of Axa Blue
$color-deep-sapphire: #00005b; // button primary background
$color-mine-shaft: #333333; // text, light background
$color-ocean-blue: #4976ba; // footer background
$color-silver: #ccc; // Disabled button inner shadow 
$color-dusty-gray: #999999; // Input label, when disabled, autocomplete option (non-matching)
$color-mercury: #e5e5e5; // Disabled button background, hover on tab
$color-alabaster: #fafafa; // Module background

$color-prim-red-burnt-sienna: #f07662; // selected tab
$color-prim-red-flamingo: #ec4d33;

$color-malachite: #1cc54e; // Input field valid message
$color-shy-tomato: #c91432; // input field error message