$color-white: white; // background, dark background, text, button secondary
$color-axa-blue: #00008f; // button primary background
$color-deep-sapphire: #00005b; // button primary background
$color-mine-shaft: #333333; // text, light background
$color-ocean-blue: #4976ba; // footer background
$color-silver: #ccc; // Disabled button inner shadow 
$color-mercury: #e5e5e5; // Disabled button background
$color-alabaster: #fafafa; // Module background

$color-prim-red-burnt-sienna: #f07662;
$color-prim-red-flamingo: #ec4d33;