// BASED FROM https://github.com/axa-ch/patterns-library/blob/develop-v2/src/components/00-materials/20-typography-and-text.scss
// in the develop-v2 branch
@import './colors.scss';


// =====================
// Font, line-heights and sizes generation
// =====================

// Real font name
$font-family-sans-serif: 'Source Sans Pro';
$font-family-serif: 'Publico Headline Bold';

// fallbacks and alias
$long-texts: $font-family-sans-serif,
sans-serif;
$titles: $font-family-serif,
serif;

// get the @font-face declarations AFTER the variables names
//@import './fonts.scss';

/*
define in this order : font-size (in em, for 16px base),  line-height, letter-spacing
*/
$text-sizes: (default: (1rem, 1.375rem, 0),
    legals: (0.75, 1, 0),
    text-catchy: (0.75, 1, 1px),
    text-secondary: (0.875, 1.25, 0),
    text: (1, 1.3125, 0), // for normal text, Accessibility recomandation is @ 1.5
    label: (1.111, 1.375, 0),
    quote: (1.111, 1.375, 0),
    h5: (1.3125, 1.5625, 0),
    h4: (1.5625, 1.9375, 0),
    h3: (2, 2.3125, 0),
    h2: (2.375, 2.8125, 0),
    h1: (2.75, 3.3125, 0),
    event:(3.375, 3.9375, 0));

// font-weight, font-style (normal, italic, oblique)
$font-values: (default: (400, normal),
    regular: (400, normal),
    normal: (400, normal),
    semibold: (600, normal),
    bold: (700, normal));

// Don't use this in components, use typo()
@mixin _font($type: text, $name: default) {
    @if map-has-key($font-values, $name) {
        font-weight: nth(map-get($font-values, $name), 1);
        font-style: nth(map-get($font-values, $name), 2);
    }

    @if $type==title {
        font-family: $titles;
    }

    @else {
        font-family: $long-texts;
    }
}


@import './grids.scss';

// Don't use this in components, use typo()
@mixin _text($name: default, $type:text) {
    @if (map-has-key($text-sizes, $name)) {
        //@if $type==title {

        // "mobile + tablet : act as REM = 16 px
        @media (max-width: ($breakpoint-M)) {
            font-size: (nth(map-get($text-sizes, $name), 1)) * 1rem;
            line-height: (nth(map-get($text-sizes, $name), 2) * 1rem);
        }

        // desktop : act as REM = 18 px
        @media (min-width: $breakpoint-M) {
            font-size: (nth(map-get($text-sizes, $name), 1)) * 18 / 16 * 1rem;
            line-height: (nth(map-get($text-sizes, $name), 2)) * 18 / 16 * 1rem;
        }

        /*}

        @else {
            // regular texts dont change with the viewport
            font-size: (nth(map-get($text-sizes, $name), 1)) * 1rem;
            line-height: (nth(map-get($text-sizes, $name), 2) * 1rem);

        }*/

        letter-spacing: nth(map-get($text-sizes, $name), 3);
    }

    @else {
        //@if $type==title {

        // "mobile + tablet : act as REM = 16 px
        @media (max-width: ($breakpoint-S - 1)) {
            font-size: nth(map-get($text-sizes, default), 1);
            line-height: nth(map-get($text-sizes, default), 2) * 1rem;
        }

        // desktop : act as REM = 18 px
        @media (min-width: $breakpoint-M) {
            font-size: nth(map-get($text-sizes, default), 1) * 18 / 16 * 1rem;
        }

        /*}

        @else {
            // regular texts dont change with the viewport
            font-size: nth(map-get($text-sizes, default), 1);
            line-height: nth(map-get($text-sizes, default), 2);
        }*/

        letter-spacing: nth(map-get($text-sizes, default), 3);
    }

}

@mixin typo($type: text, $text: default, $style: default) {
    @include _font($type, $style);
    @include _text($text, $type);
    margin: 0;
    word-wrap: break-word;
    hyphens: auto;
    color: $color-mine-shaft;
}