@import "../../materials/typography.scss";

.a-typo {
  color: #333;

  &__landing-title {
    @include typo(title, event, bold);
  }

  &__page-title {
    @include typo(title, h1, bold);
  }

  &__slice-title {
    @include typo(title, h2, bold);
  }

  &__module-title {
    @include typo(title, h3, bold);
  }

  &__title {
    @include typo(title, h4, bold);
  }

  &__highlight,
  &__quote {
    @include typo(text, quote, regular);
  }

  &__label {
    @include typo(text, label, bold);
  }

  &__text {
    @include typo(text, text, regular);
  }

  &__secondary-text {
    @include typo(text, text-secondary, regular);
  }

  &__button,
  &__link,
  &__tagline {
    @include typo(text, text-catchy, semibold);
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__legals {
    @include typo(text, legals, regular);
  }

  &__menu-item {
    @include typo(text, text-catchy, semibold);
    text-transform: uppercase;
  }
}