@import '../../materials/colors.scss';
@import '../../materials/grids.scss';
@import '../../materials/typography.scss';

axa-footer {
	display: block;
}

$border-style: solid 1px rgba(255, 255, 255, 0.15);

@mixin legalMobileDesign () {
	display: block;
	text-align: right;
	border-top: $border-style;
	padding: $spacing-1 $spacing-2;
}

@mixin titlesColumns {
	//@extend .a-typo__text-title; // would have been perfect, but does not work in the media query case
	@include typo(text, label, bold);
	text-transform: uppercase;
	color: inherit;
}

.m-footer {

	// reset
	& ul,
	& li {
		list-style: none;
		padding: 0;
		margin: 0;
	}


	position: relative;
	display: block;

	footer {
		// max-width + center the footer, while letting the background to 100%
		max-width: $breakpoint-MAX;
		margin: 0 auto;
		display: flex;
		position: relative;
	}


	// desktop and medium design : 0-3 content columns
	@media (min-width: $breakpoint-S) {
		[name=content] {
			display: flex;

			ul {
				margin: $spacing-6 $spacing-4;
				width: 33%;

				// title for the column
				&::before {
					content: attr(title);
					@include titlesColumns();
				}
			}

			li {
				margin-top: $spacing-3;
			}
		}
	}

	//  large design : legal on the last column
	@media (min-width: $breakpoint-M) {
		[name=content] {
			width: 60%;
		}

		[name=legal] {
			width: 40%;
			display: flex;
			align-self: flex-end;
			flex-direction: row-reverse;
		}

		[slot=legal] {
			margin: $spacing-6;
		}

	}

	// medium design : legal goes at the bottom
	@media (min-width: $breakpoint-S) and (max-width: $breakpoint-M-pixels - 1px) {
		footer {
			flex-direction: column;
		}

		[name=legal] {
			@include legalMobileDesign();
		}

		//[slot=legal] {}
	}

	[name=social] {
		width: 100%;
		height: calc(#{$spacing-4} *2 + #{$spacing-4}); // height of the icons + margin

		display: flex;
		align-items: center;

		justify-content: center;

		// alignment to the left on medium design
		@media (min-width:$breakpoint-S) {
			justify-content: flex-start;
			padding-left: $spacing-4;
		}

		h5 {
			@include titlesColumns();
			display: none;
			padding-bottom: $spacing-2;
		}

		axa-icon {
			max-width: $spacing-6;
			height: $spacing-6;
			display: inline-block;
		}

		// from large design, move the block on the right and have column title
		@media (min-width:$breakpoint-M) {

			// column title appears
			h5 {
				display: block;
			}

			// stick to the right
			position: absolute;
			right: 0; // relative to <footer>
			text-align: right;

			width: 40%; // width of the legals
			max-width: 6* $spacing-6; // max 5 icons, then back to line
			top: $spacing-6; // top-margin of the [content] UL
			// reset our box
			height:auto;
			padding:0;
		}

		// reset the top margin if the column is above the other
		@media (max-width: $breakpoint-M-pixels - 1px) {
			&+[name=content] ul {
				margin-top: 0;
			}
		}
	}

	// mobile design : switch to accordeons
	@media (max-width: $breakpoint-S-pixels - 1px) {
		footer {
			flex-direction: column;
		}

		[name=legal] {
			@include legalMobileDesign();
		}

		ul {
			&::before {
				content: attr(title);
				// @extend a-typo__menu-item // would have been perfect, but does not work in this case
				@include typo(text, label, bold);
				text-transform: uppercase;
				color: inherit;
				padding: $spacing-2 0;
				padding-left: $spacing-2;
				display: block;

				// the little chevron
				background-size: $spacing-4;
				background-repeat: no-repeat;
				background-position: right;
				background-image: url("../../atoms/icon/materials/arrow_down.svg");
			}

			&:hover::before {
				background-image: url("../../atoms/icon/materials/arrow_up.svg");
			}

			border-bottom: $border-style;
			padding: 0 $spacing-2;

			li {
				border-top: $border-style;
				padding: $spacing-2;
			}

			// this show/hide works on mobile on touch, as long as we dont have animation
			li {
				display: none;
			}

			&:hover li {
				display: block;
			}
		}

	}


	// color variations
	&__blue {
		background-color: $color-ocean-blue;
		color: $color-white;

		.a-typo__legals {
			color: inherit;
		}

		.a-typo__link,
		.a-typo__link a,
		a {
			color: inherit;
		}

		// paint the chevron white by cheating with CSS filter, because we can not
		// modify the currentColor of a background SVG
		// this does not work on IE11, but that's mobile-only anyway
		@media (max-width: $breakpoint-S-pixels - 1px) {
			ul {
				&::before {
					filter: brightness(1000); // 100% value works fine on chrome desktop, but chrome android needs 1000%
				}
			}
		}

		// not validated by a designer yet
		&__white {
			background-color: $color-white;
		}

	}
}