.button {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  background-color: #00008f;
  border-bottom: 2px solid #00005b;
  color: #ffffff;
  cursor: pointer;
  fill: #ffffff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.25s ease;
  z-index: 0;
  vertical-align: middle;
  overflow: hidden;
  outline: none;

  animation-name: fadeInUp;
  animation-delay: 0.2s;
  opacity: 1;
  -ms-transform: none;
      transform: none;
}
.button:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: width 0.3s, opacity 0.3s;
  width: 0;
  height: 530px;
  top: 50%;
  left: 50%;
  opacity: 0;
  background: #00005b;
  -ms-transform: translate(-50%,-50%) rotate(45deg);
      transform: translate(-50%,-50%) rotate(45deg);
  transform: translate3d(-50%,-50%, 0) rotate(45deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
/*background-color: $colors-DeepSapphire;*/
.button:hover:after, .button:active:after {
  width: 100%;
  opacity: 1;
}
.button.small {
  height: 30px;
}
.button.large {
  height: 40px;
}


.button.ghost {
  background-color: transparent;
  color: #00008f;
  fill: #00008f;
  border-style: solid;
  border-color: #00008f;
  border-width: 1px;
}


.button.ghost:after {
  background: #00008f;
}

.button.ghost:hover,
.button.ghost:active {
  background-color: #00008f;
  border-color: #00008f;
  color: #ffffff;
  fill: #00008f;
}
.button.ghost.large {
  border-width: 2px;
}

.button.ghost.white {
  background-color: transparent;
  color: #ffffff;
  fill: #ffffff;
  border-style: solid;
  border-color: #ffffff;
}

.button.ghost.white:after {
  background: #ffffff;
}
.button.ghost.white:hover,
.button.ghost.white:active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #5f5f5f;
  fill: #5f5f5f;
}

.button .icon {
  height: 15px;
  width: 35px;
}

.button .icon.left {
  padding-right: 5px;
  padding-left: initial;
}

.button .icon.right {
  padding-left: 5px;
  padding-right: initial;
}

.button .squareIconWrapper {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin-left: 20px;
  margin-right: -20px;
  width: 30px;
  border-left-style: solid;
  border-left-color: rgba(255,255,255,0.5);
  border-left-width: 1px;
  transition: border 0.25s ease;
}

.button.large .squareIconWrapper {
  width: 54px;
}

.button.large .squareIconWrapper.right {
  top: 0;
  right: 20px;
}

.button.large.fluid .squareIconWrapper.right {
  position: absolute;
}

.button .squareIcon {
  height: 15px;
  width: 15px;
}


@media (min-width: 768px) {
  .button {
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
  }
  .button.small {
    height: 30px;
    font-size: 12px;
  }
  .button.large {
    height: 50px;
    font-size: 16px;
  }

  .button.ghost {
    border-width: 2px;
  }
  .button.ghost.small {
    border-width: 1px;
  }
  .button.ghost.large {
    border-width: 2px;
  }

  .button .icon {
    height: 18px;
    width: 38px;
  }

  .button .squareIconWrapper {
    margin-left: 30px;
    margin-right: -30px;
    width: 40px;
  }
  .button.small .squareIconWrapper {
    width: 30px;
  }
  .button.large .squareIconWrapper {
    width: 50px;
  }

  .button.large .squareIconWrapper.right {
    right: 30px;
  }

  .button .squareIcon {
    height: 18px;
    width: 18px;
  }

  .button .icon.left {
    padding-right: 10px;
  }

  .button .icon.right {
    padding-left: 10px;
  }

}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate(0, 20px);
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
}
