.richText {
  font-size: 1.2em;
  line-height: 1.4em;
}
.richText h1, .richText h2, .richText h3, .richText h4, .richText h5, .richText h6 {
  font-size: 1.5em;
  line-height: 1.2em;
  margin-bottom: 1em;
  font-weight: bold;
}
.richText ul {
  list-style-type: initial;
  margin: 0 0 1em 1em;
}
.richText ol {
  list-style-type: decimal;
  margin: 0 0 1em 1em;
}
.richText p {
  margin-bottom: 1.3em;
}
.richText strong {
  font-weight: bold;
}
.richText em {
  font-style: italic;
}
.richText a {
  color: #00005b;
}
.richText a:hover {
  color: #494df4;
}
.richText img {
  display: block;
  width: 100%;
  margin-bottom: 1.3em;
}
