.a-tabcontainer {
	max-width: $breakpoint-MAX;
	margin: 0 auto;
	box-sizing: border-box;
	padding: $spacing-2;

	&--space-none {
		padding: 0;
	}

	&--space-horizontal {
		padding: 0 $spacing-2;
	}

	&--space-vertical {
		padding: $spacing-2 0;
	}
}