:root {
    --color-prim-white: white;
    --color-axa-blue: #00008f;
    --color-prim-blue-deep-sapphire: #00005b;
    --color-prim-red-burnt-sienna: #f07662;
    --color-prim-red-flamingo: #ec4d33;
    --button__motion-duration: 0.3s;
    --button__motion-easing: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}